*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%; /*makes 1rem = 10px*/
}

body {
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  
}

.screen {
  grid-area: screen;
  text-align: center;
  border-bottom: 2px solid;
  padding: 20px;
  font-size: 2rem;
  margin-bottom: 1rem;
  border-image: linear-gradient(45deg, rgb(0,205,205), rgb(117,0,128)) 1;
  padding: 3rem 0;
  
}

.zero { grid-area: zero; }
.one { grid-area: one; }
.operate { grid-area: operate; }
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }
.five { grid-area: five; }
.six { grid-area: six; }
.seven { grid-area: seven; }
.eight { grid-area: eight; }
.nine { grid-area: nine; }
.add { grid-area: add; }
.subtract { grid-area: subtract; }
.multiply { grid-area: multiply; }
.divide { grid-area: div; }

.grid-container { 
  display: grid;
  grid-template-areas:
    'screen screen screen screen'
    'clr addSub bkspace div'
    'seven eight nine multiply'
    'four five six subtract'
    'one two three add'
    'zero zero operate operate';
    grid-gap: 1rem;
    padding: 0 60rem;
   

}



.btn {
  width: 100%;
  padding: 3rem;
  background: none;
  color: white;
  cursor: pointer;
  outline: none;
  border: 2px solid;
  border-image: linear-gradient(45deg, rgb(0,205,205), rgb(117, 0, 128)) 1;
  font-size: 1.9rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
  transition: background-color .04s ease-in-out;
}

.btn:hover {
 color: rgb(0,205,205);
 background-color: rgba(255,255,255, 0.1);

}

